<form id="topicForm" method="post" action="/web/adquisicion/" >
    <table class="table table-bordred table-striped">


      <tbody>
          <tr>

          <td class="cell-stat text-center">tipoAdquisicion</td>
            <td class="text-center">
              <input type="text" class="form-control" id="tipoAdquisicion" name="tipoAdquisicion" value="<%=adquisicion.tipoAdquisicion%>" required="true" title="Ingrese adquisicion" placeholder="<tipoAdquisicion>">
              <%= adquisicion.tipoAdquisicion %>
            </td>
          </tr>
          <tr>
          <td class="cell-stat text-center">tipoCompra</td>
            <td class="text-center">
              <input type="text" class="form-control" id="tipoCompra" name="tipoCompra" value="<%=adquisicion.tipoCompra%>" required="true" title="Ingrese tipo compra" placeholder="<tipoCompra>">
              <%= adquisicion.tipoCompra %>
            </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">fecha</td>
            <td class="text-center">
              <input type="text" class="form-control" id="fecha" name="fecha" value="<%=adquisicion.fecha%>" required="true" title="Ingrese fecha" placeholder="<fecha>">
              <%= adquisicion.fecha %>
            </td>
    </tr>

      </tbody>
    </table>
    <button type="submit" name="commit" value="Form" class="btn btn-success btn-block">
      Agregar
    </button>
</form>
