<form id="topicForm" method="post" action="/web/descripcion/<%= descripcion.id %>" >
    <table class="table table-bordred table-striped">
      <thead>
        <tr>
          <td class="cell-stat text-center">MarcasInscripciones</td>
          <td class="text-center">
            <input type="text" class="form-control" id="marcasInscripciones" name="marcasInscripciones" value="<%=descripcion.marcasInscripciones%>" required="true" title="Ingrese marcasInscripciones" placeholder="<marcasInscripciones>">
            <%= descripcion.marcasInscripciones %>
          </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">Alto</td>
          <td class="text-center">
            <input type="text" class="form-control" id="alto" name="alto" value="<%=descripcion.alto%>" required="true" title="Ingrese alto" placeholder="<alto>">
            <%= descripcion.alto %>
          </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">Ancho</td>
          <td class="text-center">
            <input type="text" class="form-control" id="ancho" name="ancho" value="<%=descripcion.ancho%>" required="true" title="Ingrese ancho" placeholder="<ancho>">
            <%= descripcion.ancho %>
          </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">Longitud</td>
          <td class="text-center">
            <input type="text" class="form-control" id="longitud" name="longitud" value="<%=descripcion.longitud%>" required="true" title="Ingrese longitud" placeholder="<longitud>">
            <%= descripcion.longitud %>
          </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">Profundidad</td>
          <td class="text-center">
            <input type="text" class="form-control" id="profundidad" name="profundidad" value="<%=descripcion.profundidad%>" required="true" title="Ingrese profundidad" placeholder="<profundidad>">
            <%= descripcion.profundidad %>
          </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">Diametro</td>
          <td class="text-center">
            <input type="text" class="form-control" id="diametro" name="diametro" value="<%=descripcion.diametro%>" required="true" title="Ingrese diametro" placeholder="<diametro>">
            <%= descripcion.diametro %>
          </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">Espesor</td>
          <td class="text-center">
            <input type="text" class="form-control" id="espesor" name="espesor" value="<%=descripcion.espesor%>" required="true" title="Ingrese espesor" placeholder="<espesor>">
            <%= descripcion.espesor %>
          </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">Peso</td>
          <td class="text-center">
            <input type="text" class="form-control" id="peso" name="peso" value="<%=descripcion.peso%>" required="true" title="Ingrese peso" placeholder="<peso>">
            <%= descripcion.peso %>
          </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">Observaciones</td>
          <td class="text-center">
            <input type="text" class="form-control" id="observaciones" name="descripcion.observaciones" value="<%=descripcion.observaciones%>" required="true" title="Ingrese observaciones" placeholder="<observaciones>">
            <%= descripcion.observaciones %>
          </td>
        </tr>
        <tr>
          <td class="cell-stat text-center">Descripcion</td>
          <td class="text-center">
            <input type="text" class="form-control" id="descripcion" name="descripcion" value="<%=descripcion.descripcion%>" required="true" title="Ingrese descripcion" placeholder="<descripcion>">
            <%= descripcion.descripcion %>
          </td>
        </tr>

      </thead>
      
    </table>
    <button type="submit" name="commit" value="Form" class="btn btn-success btn-block">
      Agregar
    </button>
</form>
