<form id="topicForm" method="post" action="/web/tipoanalisis/ %>" >
    <table class="table table-bordred table-striped">
      <thead>
        <tr>
          <th class="cell-stat text-center">tipo</th>
          <th class="cell-stat text-center">subTipo</th>
          <th class="cell-stat text-center">valorPredeterminado</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="text-center">
              <label for="tipo" class="control-label">Tipo</label>
              <input type="text" class="form-control" id="tipo" name="tipo" value="<%=tipoanalisis.tipo%>" required="true" title="Ingrese tipo" placeholder="<tipo>">
              <%= tipoanalisis.tipo %>
            </td>
            <td class="text-center">
              <label for="subTipo" class="control-label">SubTipo</label>
              <input type="text" class="form-control" id="subTipo" name="subTipo" value="<%=tipoanalisis.subTipo%>" required="true" title="Ingrese subtipo" placeholder="<subTipo>">
              <%= tipoanalisis.subTipo %>
            </td>
            <td class="text-center">
              <label for="valorPredeterminado" class="control-label">Valor predeterminado</label>
              <input type="text" class="form-control" id="valorPredeterminado" name="valorPredeterminado" value="<%=tipoanalisis.valorPredeterminado%>" required="true" title="Ingrese valor predeterminado" placeholder="<valorPredeterminado>">
              <%= tipoanalisis.valorPredeterminado %>
            </td>
          </tr>
      </tbody>
    </table>
    <button type="submit" name="commit" value="Form" class="btn btn-success btn-block">
      Agregar
    </button>
</form>
