<a href="/web/tipoanalisis/add %>" class="btn btn-info" role="button">
  <p data-placement="top" data-toggle="tooltip" title="Edit">
    <button type="button" class="btn btn-info">Agregar</button>
  </p>
</a>
<table class="table table-bordred table-striped">
  <thead>
    <tr>
      <th class="cell-stat text-center">id</th>
      <th class="cell-stat text-center">tipo</th>
      <th class="cell-stat text-center">subTipo</th>
      <th class="cell-stat text-center">valorPredeterminado</th>
      <th class="cell-stat text-center">fechaCrea</th>
      <th class="cell-stat text-center">fechaModifica</th>
      <th class="cell-stat text-center">fechaBorra</th>
      <th class="cell-stat text-center">Accion</th>
      <th class="cell-stat text-center">Accion</th>
    </tr>
  </thead>
  <tbody>
    <% var i; for (i=0; i < tipoanalisis.length; i++) { %>
      <tr>
        <td class="text-center"><%= tipoanalisis[i].id %></td>
        <td class="text-center"><%= tipoanalisis[i].tipo %></td>
        <td class="text-center"><%= tipoanalisis[i].subTipo %></td>
        <td class="text-center"><%= tipoanalisis[i].valorPredeterminado %></td>
        <td class="text-center"><%= tipoanalisis[i].fechaCrea %></td>
        <td class="text-center"><%= tipoanalisis[i].fechaModifica %></td>
        <td class="text-center"><%= tipoanalisis[i].fechaBorra %></td>
        <td>
          <a href="/web/tipoanalisis/<%= tipoanalisis[i].id %>" class="btn btn-info" role="button">
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button type="button" class="btn btn-info">Edit</button>
            </p>
          </a>
        </td>
        <td>
          <form id="topicForm" method="post" action="/web/tipoanalisis/<%= tipoanalisis[i].id %>" >
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%= tipoanalisis[i].id %>">
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button type="submit" name="commit" value="Form" class="btn btn-success btn-block">
                Delete
              </button>
            </p>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
