<form id="topicForm" method="post" action="/web/espacio/" >
    <table class="table table-bordred table-striped">
      <tbody>

        <tr>
          <td class="cell-stat text-center">espacio</td>
            <td class="text-center">
              <input type="text" class="form-control" id="espacio" name="espacio" value="<%=espacio.espacio%>" required="true" title="Ingrese espacio" placeholder="<espacio>">
              <%= espacio.espacio %>
            </td>
        </tr>
          <tr>
          <td class="cell-stat text-center">codigoEspacio</td>
            <td class="text-center">
              <input type="text" class="form-control" id="codigoEspacio" name="codigoEspacio" value="<%=espacio.codigoEspacio%>" required="true" title="Ingrese codigo espacio" placeholder="<codigoEspacio>">
              <%= espacio.codigoEspacio %>
            </td>
          </tr>
          <tr>
          <td class="cell-stat text-center">inmuebles</td>
            <td class="text-center">
              <input type="text" class="form-control" id="inmuebles" name="inmuebles" value="<%=espacio.inmuebles%>" required="true" title="Ingrese inmuebles" placeholder="<inmuebles>">
              <%= espacio.inmuebles %>
            </td>
          </tr>
          <tr>
          <td class="cell-stat text-center">codigoInmueble</td>
            <td class="text-center">
              <input type="text" class="form-control" id="codigoInmueble" name="codigoInmueble" value="<%=espacio.codigoInmueble%>" required="true" title="Ingrese codigo inmuebles" placeholder="<codigoInmueble>">
              <%= espacio.codigoInmueble %>
            </td>
          </tr>
          <tr>
          <td class="cell-stat text-center">ubicacionInmueble</td>

            <td class="text-center">
              <input type="text" class="form-control" id="ubicacionInmueble" name="ubicacionInmueble" value="<%=espacio.ubicacionInmueble%>" required="true" title="Ingrese ubicacion inmuebles" placeholder="<ubicacionInmueble>">
              <%= espacio.ubicacionInmueble %>
            </td>
          </tr>
      </tbody>
    </table>
    <button type="submit" name="commit" value="Form" class="btn btn-success btn-block">
      Agregar
    </button>
</form>
